body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center !important;
}

a {
  color: #00B7FF;
}

.api_info {
  display:inline-block;
}

.card {
  text-align: left !important;
}